@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
	  list-style: none;
	  box-sizing: border-box;
}
:root{
    --color1: #498758;
    --color2: #619d69a7;
    --color3: #4FCEA2;
    --cor-whatsapp:#34af23;
    --color-text: #5c5c5c;
    --color-footer: #000000df;
    --font-size: clamp(.5rem, 1.1rem + 0.1rem, 4rem);

    --fonte1:'Open Sans', sans-serif;
    --fonte2:'Manrope', sans-serif;
    --fonte3:'Lobster', cursive;
}

/*configurações do body*/

body,html{
  overflow-x: hidden;
}

body{
  overflow-y: hidden;
}

#geral h1{
  font-family: var(--fonte3);
  font-size: 2em;
}



body,ul ,p {
  margin: 0px;
  padding: 0px;
  font-family: 'Manrope', sans-serif;
  font-weight: normal;
}

/*CONFIGURAÇÕES DO HEADER*/

header a , footer a{
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  font-size: var(--font-size);
  letter-spacing: 3px;
  margin-left: 20px;
}

#header a:hover {
    transition: .5s;
    opacity: 0.7;
    background-color: var(--color1);
  
}

.logo-ipnj {
    display: flex;
    font-size: var(--font-size);
    color: white;
}
.logo-ipnj img{
    max-width:120px ;
    margin-right: 10px;
}
#header {
  box-sizing: border-box;
  height: 70px;
  padding: 1rem;
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, #1d4010, #1e4d0c, #24690b);
}

#menu {
text-transform: uppercase;
  display: flex;
  list-style: none;
  gap: 0.5rem;
 
}

#menu a {
  display: block;
  padding: 0.5rem;
  border-radius: 5px;
}

#btn-mobile {
  display: none;
}


/* MAIN*/

main h1{
  text-align: center;
  margin: 20px 0px;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.185);

}


.banner{
    display: flex;
    background-image: url('../imagens/fundo1.jpg');
    background-position: center center;
    background-size: cover;
    
}

.banner img{
   margin: auto;
   width: 100vw;
}


main section{
  margin-bottom: 50px;
}



#ban2{
  display: none;
 
}

/*Section 1*/

.aovivo{
  display: flex;
  flex-wrap: wrap;
  background-color: gray;
  text-align: center;
  
}     

.aovivo div{
  margin: 20px;
  text-align: center;
  font-size: 20px;
  color: white;
 
}
.aovivo div img{
  height: 301px;
  width: 320px;

}

.aovivo p{
    text-align: justify;
    margin-top: 10px;
    width: 300px;
}


#bancel{
  display: none;
}
/*MEDIA QUERY DA SEC1*/

@media(min-width:300px) and (max-width:400px){
  .aovivo div img{
    height: 250px;
    width: 250px;
  }
  .aovivo div{
    display: block;
    flex-direction: column;
    padding: 15px;
    display: flex;
    text-align: center;
    padding-inline-start: 0px;
    margin-inline-start: 0px;
  }
}

@media(min-width: 600px) and (max-width: 1400px){
  .banner img{
    width: 100vw;   
  }
  
  #ban2{
    display: block;
    width: 100vw;
    margin-bottom: 30px;
  }
  
  .aovivo p{
    font-size: 1em;

  }
     
}

@media(min-width: 600px) and (max-width:800px){
  #ban2{
    display: flex;
    height: 350px;
    width: 100vw;
  }

  .aovivo div{
    margin-top: 20px;
  }

}
@media (min-width:800px){
  #bancel{
    display: block;
    height: 400px;
    margin-left: 40px;
  }

  .aovivo{
    display: flex ;
  }
  .aovivo div{
     margin: auto;
     margin-top: 15px;

  }

  #ban2{
    height: 350px;
  }


}

@media(min-width: 950px) and (max-width: 1300px){
  .aovivo div{
    margin-left: 100px;
  }

  .aovivo div img{
   height: 350px;
   width: 350px;
  }

  .aovivo p{
    font-size: 1em
  }

  main section{
    display: flex;
  }

  #ban2{
    display: none;
  }
  
}

@media(min-width: 1301px) and (max-width: 1398px){
 

  #bancel{
    display: none;
  }
  #ban2{
    height: 400px;
  }

  .aovivo div img{
    height: 400px;
    width: 400px;
   }
  
   .aovivo p{
    font-size: 1.5em
  }

}


@media(min-width:1399px){
  .aovivo div{
    margin-left: 10px;
  }

  #ban2{
    display: none;
  }

  #geral h1{
    font-size: 2.5em;
  }

 
}


/*SECTION AGENDA*/
#agenda h1{
  text-align: center;
  margin: 20px;
}

#agenda{
  display:flex !important;
  flex-wrap: wrap !important;
  background-color: white;
  width: 100vw;
}

#agenda img{
  height: 250px;
  width: 300px;
  margin: 20px;
}

#agenda div{
  width: 300px;
  margin: auto;

}

/*media query sec2*/

@media(min-width: 900px){
  #agenda div img{
    height: 350px;
    width: 350px;
    padding: 20px;
  }

  #agenda{
    display: block;
  }

}

@media (min-width:1000px){
   .banner img{
    height: 300px;
    width: 50vw;
   }
   #agenda div{
    display: flex;
    margin: 15px;
   }


}



/*SECTION VIDEO*/

#vid{
  height: 500px;
  background-color: #5c5c5c63;
  width: 100vw;
  display: flex;
  box-shadow: 3px 30px 16px rgba(0, 0, 0, 0.11);
}

/*media query vid*/

@media(min-width:280px) and (max-width: 450px){
  #vid{
    height: 200px;
    
  }
  
  #vid div video{
    width: 100vw;
  }
}

@media(min-width:451px){
  #vid{
    height: 300px;
 
  }
  #vid div video{
    height: 300px;
    width: 100vw;
  }
 
}

@media(min-width:901px){
  #vid div video{
    margin: auto;
    height: 350px;
    width: 100vw;
  }

  #vid{
    height: 400px;
    width: 90vw;
    margin: auto;
    background-color: white;
  }
 
}


/*footer*/

footer{
  height: 100px;
  background: rgb(73, 72, 72);
  margin-top: 50px;
  padding-bottom: 30px;
}

footer h1{
  color: rgba(255, 255, 255, 0.719);
  text-align: center;
  font-family: 'Open Sans', sans-serif; 
}

footer ul{
  columns: 2;
  text-align: center;
}

@media (max-width: 400px){
  footer{
    height: 200px;
  }
}
